name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Cordova
        run: npm install -g cordova

      - name: Build APK
        run: |
          cordova platform add android
          cordova build android --release
          
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: SmartPayroll-APK
          path: platforms/android/app/build/outputs/apk/release/*.apk
          
