@font-face {
    font-family: 'Hind Siliguri';
    src: url('HindSiliguri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind Siliguri';
    src: url('HindSiliguri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

